// colors
$primary-color: #f35418;
$secondary-color: #007cc0;

$white: #fffefe;
$black: #000;
$gray:  #9d9d9d;



// breakpoints
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1500px;